{% extends 'base/base.html' %} {% block body %}
<body class="g-sidenav-show bg-gray-200">
  {% include 'base/sidebar.html' %}
  <main
    class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
  >
    <!-- Navbar -->
    {% include 'base/navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <h2 class="text-center">Thêm nhân viên</h2>
      <form method="post" action="{% url 'add_employee' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4">
            <div class="input-group input-group-static my-3">
              <label>Họ và Tên</label>
              <input name="fullname" type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-static my-3">
              <label>Tên đăng nhập</label>
              <input name="username" type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-static my-3">
              <label>Mật khẩu</label>
              <input name="password" type="password" class="form-control" />
            </div>
          </div>
          <div class="col-md-7">
            <div class="input-group input-group-static my-3">
              <label>Địa chỉ</label>
              <input name="address" type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-static my-3">
              <label>Số điện thoại</label>
              <input name="phone_number" type="tel" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="input-group input-group-static my-3">
              <label>CMND/CCCD</label>
              <input name="identity_card" type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-static my-3">
              <label>Ngày cấp CMND/CCCD</label>
              <input
                name="place_of_issue_of_identity_card"
                type="date"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-static my-3">
              <label>Nơi cấp CMND/CCCD</label>
              <input
                name="date_of_issue_of_identity_card"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-static my-3">
              <label>Phần trăm hoa hồng</label>
              <input
                name="transaction_discount"
                type="number"
                step="0.01"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="input-group input-group-static my-3">
              <label>Giới tính</label>
              <input name="gender" type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-static my-3">
              <label>Ngày sinh</label>
              <input name="dob" type="date" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-static my-3">
              <label>Ngày bắt đầu làm việc</label>
              <input name="date_joined" type="date" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-static my-3">
              <label>Lương</label>
              <input name="salary" type="number" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group input-group-static mb-4">
              <label for="store" class="ms-0">Cửa hàng</label>
              <select name="store" class="form-control" id="store">
                {% for store in stores %}
                <option value="{{ store.id }}">{{ store.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-static mb-4">
              <label for="store" class="ms-0">Cấp bậc</label>
              <select name="role" class="form-control" id="store">
                {% for role in roles %}
                <option value="{{ role.0 }}" {% if role.0 == 'employee' %}selected="selected"{% endif %}>{{ role.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-outline-info">Xác nhận</button>
        </div>
      </form>
    </div>
  </main>
</body>
{% endblock %}
