{% extends 'base/base.html' %} {% block body %}
<h2 class="text-start">Danh sách cửa hàng</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tên cửa hàng</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Số điện thoại</th>
      </tr>
    </thead>
    <tbody>
      {% for store in stores %}
      <tr>
        <td><a href="{% url 'storecard-store-detail' store.id %}">{{ store.name }}</a></td>
        <td>{{ store.address }}</td>
        <td>{{ store.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}