{% extends 'base/base.html' %} {% block body %}
      <h2 class="text-center">
        Nhân viên {{ user.infomation_detail.fullname|upper }}
      </h2>
      <form method="post" action="{% url 'employee-detail' user.id %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label class="form-label">Họ và Tên</label>
              <input
                name="fullname"
                type="text"
                class="form-control"
                value="{{ user.infomation_detail.fullname }}"
                readonly
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label class="form-label">Tên đăng nhập</label>
              <input
                name="username"
                type="text"
                class="form-control"
                value="{{ user.username }}"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label class="form-label">Mật khẩu</label>
              <input
                name="password"
                type="password"
                class="form-control"
                value="{{ user.password }}"
              />
            </div>
          </div>
          <div class="col-md-7">
            <div class="mb-3">
              <label class="form-label">Địa chỉ</label>
              <input
                name="address"
                type="text"
                class="form-control"
                value="{{ user.infomation_detail.address }}"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label class="form-label">Số điện thoại</label>
              <input
                name="phone_number"
                type="tel"
                class="form-control"
                value="{{ user.infomation_detail.phone_number }}"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="mb-3">
              <label class="form-label">CMND/CCCD</label>
              <input
                name="identity_card"
                type="text"
                class="form-control"
                value="{{user.infomation_detail.identity_card}}"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label class="form-label">Ngày cấp CMND/CCCD</label>
              <input
                name="place_of_issue_of_identity_card"
                type="date"
                class="form-control"
                value="{{user.infomation_detail.date_of_issue_of_identity_card|date:'Y-m-d'}}"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label class="form-label">Nơi cấp CMND/CCCD</label>
              <input
                name="date_of_issue_of_identity_card"
                type="text"
                class="form-control"
                value="{{user.infomation_detail.place_of_issue_of_identity_card}}"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label class="form-label">Phần trăm hoa hồng</label>
              <input
                name="transaction_discount"
                type="number"
                step="0.01"
                class="form-control"
                value="{{user.infomation_detail.transaction_discount}}"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="mb-3">
              <label class="form-label">Giới tính</label>
              <input
                name="gender"
                type="text"
                class="form-control"
                value="{{user.infomation_detail.gender}}"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label class="form-label">Ngày sinh</label>
              <input
                name="dob"
                type="date"
                class="form-control"
                value="{{user.infomation_detail.dob|date:'Y-m-d'}}"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label class="form-label">Ngày bắt đầu làm việc</label>
              <input
                name="date_joined"
                type="date"
                class="form-control"
                value="{{user.infomation_detail.date_joined|date:'Y-m-d'}}"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label class="form-label">Lương</label>
              <input
                name="salary"
                type="number"
                class="form-control"
                value="{{user.infomation_detail.salary}}"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="store" class="form-label">Cửa hàng</label>
              <select name="store" class="form-control" id="store">
                {% for store in stores %}
                <option value="{{ store.id }}" {% if store.id == user.infomation_detail.store.id %}selected="selected"{% endif %}>{{ store.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="store" class="form-label">Cấp bậc</label>
              <select name="role" class="form-control" id="store">
                {% for role in roles %}
                <option value="{{ role.0 }}" {% if role.0 == user.infomation_detail.role.0 %}selected="selected"{% endif %}>{{ role.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-danger mx-3">
              <a
                href="{% url 'delete-employee' user.id %}"
                style="text-decoration: none; color: inherit"
                >Xoá</a
              >
            </button>
            <button type="submit" class="btn btn-outline-primary mx-3">Lưu</button>
            <button type="button" class="btn btn-outline-primary mx-3">
              <a
                href="{% url 'employees' %}"
                style="text-decoration: none; color: inherit"
                >Thoát</a
              >
            </button>
          </div>
      </form>
{% endblock %}
