{% extends 'base/base.html' %} {% block body %}
<h2 class="text-center">Danh sách nhân viên</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Họ và Tên</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">CMND</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Lương</th>
        <th scope="col">Cửa hàng</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for emp in users %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ emp.infomation_detail.fullname }}</td>
        <td>{{ emp.infomation_detail.phone_number }}</td>
        <td>{{ emp.infomation_detail.identity_card }}</td>
        <td>{{ emp.infomation_detail.gender }}</td>
        <td>{{ emp.infomation_detail.dob }}</td>
        <td>{{ emp.infomation_detail.salary }}</td>
        <td>{{ emp.infomation_detail.store.name }}</td>
        <td>
          <a href="{% url 'employee-detail' emp.id  %}"> Chỉnh sửa </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end m-3">
  <button type="button" class="btn btn-outline-primary">
    <a
      href="{% url 'add_employee' %}"
      style="text-decoration: none; color: inherit"
      >Thêm</a
    >
  </button>
</div>
{% endblock %}
