{% extends 'base/base.html' %} {% block body %}
<h2 class="text-center"> {{ notebook.name }}</h2>
<form method="post" action="{% url 'notebook-detail' notebook.id %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <label class="form-label">Tên</label>
        <input
          name="name"
          type="text"
          class="form-control"
          value="{{ notebook.name }}"
        />
      </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
          <label for="store" class="form-label">Cửa hàng</label>
          <select name="store" class="form-control" id="store">
            {% for store in stores %}
            <option value="{{ store.id }}" {% if store.id == notebook.store.id %}selected="selected"{% endif %}>{{ store.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-danger mx-3">

      <a
        href="{% url 'delete-notebook' notebook.id %}"
        style="text-decoration: none; color: inherit"
        >Xoá</a
      >
    </button>
    <button type="submit" class="btn btn-outline-primary mx-3">Lưu</button>
    <button type="button" class="btn btn-outline-primary mx-3">
      <a href="{% url 'notebooks' %}" style="text-decoration: none; color: inherit"
        >Thoát</a
      >
    </button>
  </div>
</form>
{% endblock %}
