{% extends 'base/base.html' %} {% block body %}
<body class="g-sidenav-show bg-gray-200">
  {% include 'base/sidebar.html' %}
  <main
    class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
  >
    <!-- Navbar -->
    {% include 'base/navbar.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <h2 class="text-center">Danh sách máy POS</h2>
      <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Số thứ tự
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Pos Id
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Mid
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Tid
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Ghi chú
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Trạng thái
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Ngân hàng
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Cửa hàng
                </th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bold"
                >
                  Thao tác
                </th>
              </tr>
            </thead>
            <tbody>
              {% for pos in poses %}
              <tr>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">
                    {{ forloop.counter }}
                  </p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{ pos.pos_id }}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{ pos.mid }}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{ pos.tid }}</p>
                </td>
                <td class="align-middle text-center">
                  <p class="text-xs font-weight-bold mb-0">{{ pos.note }}</p>
                </td>
                <td class="align-middle text-center">
                  <p class="text-xs font-weight-bold mb-0">{{ pos.status }}</p>
                </td>
                <td class="align-middle text-center">
                  <p class="text-xs font-weight-bold mb-0">
                    {{ pos.bank_name }}
                  </p>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold"
                    >{{ pos.store.name }}</span
                  >
                </td>
                <td
                  class="align-middle text-center text-secondary text-xs font-weight-bold"
                >
                  <a href="{% url 'store-detail' store.id  %}"> Chỉnh sửa </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-end m-3">
        <button type="button" class="btn btn-outline-info">
          <a href="{% url 'add_pos' %}">Thêm</a>
        </button>
      </div>
    </div>
  </main>
</body>
{% endblock %}
