{% extends 'base/base.html' %} {% block body %}
<h2 class="text-center">Danh sách máy POS</h2>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pos Id</th>
      <th scope="col">Mid</th>
      <th scope="col">Tid</th>
      <th scope="col">Ghi chú</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Ngân hàng</th>
      <th scope="col">Cửa hàng</th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for pos in poses %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ pos.pos_id }}</td>
      <td>{{ pos.mid }}</td>
      <td>{{ pos.tid }}</td>
      <td>{{ pos.note }}</td>
      <td>{{ pos.status }}</td>
      <td>{{ pos.bank_name }}</td>
      <td>{{ pos.store.name }}</td>
      <td><a href="{% url 'store-detail' pos.id  %}"> Chỉnh sửa </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-outline-primary">
    <a href="{% url 'add_pos' %}" style="color: inherit; text-decoration: none"
      >Thêm</a
    >
  </button>
</div>
{% endblock %}
