version: '3.4'

x-common-variables: &common-variables
  DJANGO_SETTINGS_MODULE: core.settings
  POSTGRES_USER: ${POSTGRES_USER}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  POSTGRES_DB: ${POSTGRES_DB}
  POSTGRES_HOST: ${POSTGRES_HOST}

services:
  django-qltd:
    container_name: django-qltd
    build:
      context: be
      dockerfile: ./be.Dockerfile
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=!03Z5^9G*k9yyta&YX9W61O7VldVTrNod0IPck9
      - POSTGRES_HOST=db-postgres-qltd
      - POSTGRES_DB=postgres
    ports: 
      - '8000:8000'
    volumes:
      - ./be:/code
      - django-qltd_media:/code/media
      - django-qltd_volume:/code/staticfiles
    depends_on:
      - postgres
    networks:
      - django-qltd

  postgres:
    container_name: db-postgres-qltd
    restart: always
    image: postgres:13.3-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=!03Z5^9G*k9yyta&YX9W61O7VldVTrNod0IPck9
      - POSTGRES_DB=postgres
    ports:
      - '5437:5432'
    volumes:
     - postgres_data_qltd:/var/lib/postgresql/data/
    networks:
      - django-qltd

volumes:
  django-qltd_media:
  django-qltd_volume:
  postgres_data_qltd:

networks:
  django-qltd:
    external: true
