<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
  >
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
      id="menu"
    >
      <li class="nav-item w-100">
        <a
          href="{% url 'stores' %}"
          class="nav-link align-middle px-0 text-center {% if sidebar == 'stores' %}active{% endif %}"
        >
          <i class="fs-4 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline">Cửa hàng</span>
        </a>
      </li>
      <li class="w-100">
        <a
          href="{% url 'poses' %}"
          class="nav-link align-middle px-0 text-center {% if sidebar == 'poses' %}active{% endif %}"
        >
          <i class="bi bi-postcard"></i>
          <span class="ms-1 d-none d-sm-inline">Máy POS</span>
        </a>
      </li>
      <li class="w-100">
        <a
          href="{% url 'employees' %}"
          class="nav-link px-0 align-middle text-center {% if sidebar == 'employees' %}active{% endif %}"
        >
          <i class="fs-4 bi-people"></i>
          <span class="ms-1 d-none d-sm-inline">Nhân viên</span></a
        >
      </li>
      <li class="w-100">
        <a
          href="{% url 'employees' %}"
          class="nav-link px-0 align-middle text-center {% if sidebar == 'swipecard' %}active{% endif %}"
        >
          <i class="fs-4 bi-people"></i>
          <span class="ms-1 d-none d-sm-inline">Quẹt thẻ</span></a
        >
      </li>
    </ul>
    <hr />
  </div>
</div>
