<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
  id="sidenav-main"
>
  <div class="sidenav-header">
    <i
      class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true"
      id="iconSidenav"
    ></i>
    <a class="navbar-brand m-0" href="/">
      <span class="ms-1 font-weight-bold text-white">Trang chủ</span>
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2" />
  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      {% if request.user.role == 'admin' %}
      <li class="nav-item">
        <a
          href="{% url 'stores' %}"
          class="nav-link text-white {% if sidebar == 'stores' %}active{% endif %}"
        >
          <b class="nav-link-text ms-1">Cửa hàng</b>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="{% url 'employees' %}"
          class="nav-link text-white {% if sidebar == 'employees' %}active{% endif %}"
        >
          <b class="nav-link-text ms-1">Nhân viên</b>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="{% url 'poses' %}"
          class="nav-link text-white {% if sidebar == 'poses' %}active{% endif %}"
        >
          <b class="nav-link-text ms-1">Máy POS</b>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a
          href="{% url 'swipecard' %}"
          class="nav-link text-white {% if sidebar == 'swipecard' %}active{% endif %}"
        >
          <b class="nav-link-text ms-1">Quẹt thẻ</b>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="/" class="nav-link text-white">
          <b class="nav-link-text ms-1">Dashboard</b>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'test' %}" class="nav-link text-white">
          <b class="nav-link-text ms-1">Dashboard</b>
        </a>
      </li> -->
    </ul>
  </div>
</aside>
