<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
  >
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
      id="menu"
    >
      {% if request.user.role == 'admin' %}
      <li class="nav-item w-100">
        <a
          href="{% url 'stores' %}"
          class="nav-link align-middle px-0 text-center {% if sidebar == 'stores' %}active{% endif %}"
        >
          <i class="fs-4 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline">Cửa hàng</span>
        </a>
      </li>
      <li class="w-100">
        <a
          href="{% url 'poses' %}"
          class="nav-link align-middle px-0 text-center {% if sidebar == 'poses' %}active{% endif %}"
        >
          <i class="bi bi-postcard"></i>
          <span class="ms-1 d-none d-sm-inline">Máy POS</span>
        </a>
      </li>
      <li class="w-100">
        <a
          href="{% url 'notebooks' %}"
          class="nav-link align-middle px-0 text-center {% if sidebar == 'notebooks' %}active{% endif %}"
        >
          <i class="bi bi-journal-check"></i>
          <span class="ms-1 d-none d-sm-inline">Sổ lưu thẻ</span>
        </a>
      </li>
      <li class="w-100">
        <a
          href="{% url 'employees' %}"
          class="nav-link px-0 align-middle text-center {% if sidebar == 'employees' %}active{% endif %}"
        >
          <i class="fs-4 bi-people"></i>
          <span class="ms-1 d-none d-sm-inline">Nhân viên</span></a
        >
      </li>
      <li class="w-100">
        <a
          href="#"
          class="nav-link px-0 align-middle text-center {% if sidebar == '1' %}active{% endif %}"
        >
          <i class="bi bi-save2"></i>
          <span class="ms-1 d-none d-sm-inline">Thống kê giao dịch</span></a
        >
      </li>
      <li class="w-100">
        <a
          href="#"
          class="nav-link px-0 align-middle text-center {% if sidebar == '2' %}active{% endif %}"
        >
          <i class="bi bi-save2"></i>
          <span class="ms-1 d-none d-sm-inline">Bill máy Pos</span></a
        >
      </li>
      <li class="w-100">
        <a
          href="#"
          class="nav-link px-0 align-middle text-center {% if sidebar == '3' %}active{% endif %}"
        >
          <i class="bi bi-receipt"></i>
          <span class="ms-1 d-none d-sm-inline">Hoá dơn</span></a
        >
      </li>
      {% endif %}
      <li class="w-100">
        <a
          href="{% url 'swipecard' %}"
          class="nav-link px-0 align-middle text-center {% if sidebar == 'swipecard' %}active{% endif %}"
        >
          <i class="bi bi-credit-card-2-front"></i>
          <span class="ms-1 d-none d-sm-inline">Quẹt thẻ</span></a
        >
      </li>
      <li class="w-100">
        <a
          href="{% if request.user.role == 'admin' %}{% url 'storecard' %}{% else %}{% url 'storecard-store-detail' store_id=user.infomation_detail.store.id%}{% endif %}"
          class="nav-link px-0 align-middle text-center {% if sidebar == 'storecard' %}active{% endif %}"
        >
          <i class="bi bi-save2"></i>
          <span class="ms-1 d-none d-sm-inline">Sổ lưu thẻ đáo</span></a
        >
      </li>
      <!-- <li class="w-100">
        <a
          href="{% url 'unsavedcard' %}"
          class="nav-link px-0 align-middle text-center {% if sidebar == 'unsavedcard' %}active{% endif %}"
        >
          <i class="bi bi-save2"></i>
          <span class="ms-1 d-none d-sm-inline">Thẻ chưa lưu</span></a
        >
      </li> -->
      <li class="w-100">
        <a
          href="{% url 'transaction-history' %}"
          class="nav-link px-0 align-middle text-center {% if sidebar == 'transaction-history' %}active{% endif %}"
        >
          <i class="bi bi-clock-history"></i>
          <span class="ms-1 d-none d-sm-inline">Lịch sử quẹt thẻ</span></a
        >
      </li>
    </ul>
    <hr />
  </div>
</div>
