{% extends 'base/base.html' %} {% block body %}
<h2 class="text-center">Danh sách sổ lưu</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên cửa hàng</th>
        <th scope="col">Cửa hàng</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for notebook in notebooks %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ notebook.name }}</td>
        <td>
          <a href="{% url 'store-detail' notebook.store.id  %}">
            {{ notebook.store }}
          </a>
        </td>
        <td>
          <a href="{% url 'notebook-detail' notebook.id %}"> Chỉnh sửa </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if notebooks.has_other_pages %}
<div class="container p-4">
  <div class="pagination justify-content-center">
    <span class="step-links">
      {% if notebooks.has_previous %}
      <a href="?page=1">&laquo; Trang đầu</a>
      <a href="?page={{ notebooks.previous_page_number }}">Trang trước</a>
      {% endif %}

      <span class="current">
        Trang {{ notebooks.number }} trên {{ notebooks.paginator.num_pages }}
      </span>

      {% if notebooks.has_next %}
      <a href="?page={{ notebooks.next_page_number }}">Trang tiếp</a>
      <a href="?page={{ notebooks.paginator.num_pages }}">Trang cuối &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endif %}
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-outline-primary">
    <a
      href="{% url 'add_notebook' %}"
      style="text-decoration: none; color: inherit"
      >Thêm</a
    >
  </button>
</div>
{% endblock %}
