{% extends 'base/base.html' %} {% block body %}
{% include 'base/sidebar.html' %}
<div class="col py-3">
  {% include 'base/navbar.html' %}
  <h2 class="text-center">Danh sách cửa hàng</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Mã cửa hàng</th>
        <th scope="col">Tên ghi nhớ</th>
        <th scope="col">Ghi chú</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {% for store in stores %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ store.code }}</td>
        <td>{{ store.name }}</td>
        <td>{{ store.note }}</td>
        <td>{{ store.address }}</td>
        <td>{{ store.phone_number }}</td>
        <td>Chỉnh sửa</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
