{% extends 'base/base.html' %} {% block body %}
<h2 class="text-center">Lịch sử Quẹt thẻ</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ngày giờ</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">SDT khách hàng</th>
      <th scope="col">Hạn mức tín dụng</th>
      <th scope="col">Phí</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for trans in transactions %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ trans.transaction_datetime_created|date:'Y-m-d H:i' }}</td>
      <td>{{ trans.customer_name }}</td>
      <td>{{ trans.phone_number }}</td>
      <td>{{ trans.line_of_credit }}</td>
      <td>{{ trans.fee }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if transactions.has_other_pages %}
<div class="container p-4">
  <div class="pagination justify-content-center">
    <span class="step-links">
      {% if transactions.has_previous %}
      <a href="?page=1">&laquo; Trang đầu</a>
      <a href="?page={{ transactions.previous_page_number }}">Trang trước</a>
      {% endif %}

      <span class="current">
        Trang {{ transactions.number }} trên {{ transactions.paginator.num_pages
        }}
      </span>

      {% if transactions.has_next %}
      <a href="?page={{ transactions.next_page_number }}">Trang tiếp</a>
      <a href="?page={{ transactions.paginator.num_pages }}"
        >Trang cuối &raquo;</a
      >
      {% endif %}
    </span>
  </div>
</div>
{% endif %} {% endblock %}
